<!-- /snippets/product-page-header.liquid -->
<!-- This is the header with the influencer information for the PDP -->
<div class="product-influencer__header-m">
  {% for image in product.images %}
    {% if image.alt contains "_profilepic_"%}
      <img class="product-influnecer__header-m__profilepic" src="{{ image.src | img_url: 'compact' }}">
    {% endif %}
  {% endfor %}
  {% for tag in product.tags %}
    {% if tag contains "influencer:" %}
      <div class="product-influencer__header-m__heading">
        Presented by {{ tag | remove: "influencer:" }}
      </div>
    {% endif %}
  {% endfor %}
</div>
