.hs-form label {
  display: none;
}

.hs-form .hs-form-field {
  width: 100%;
}

.hs-form .hs-input {
  appearance: none;
  font-size: 16px;
  padding: 16px 20px 16px 20px;
  border-radius: 12px;
  border: none;
  background: #fff;
  width: 100%;
  outline: none;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.05), 0 11px 14px 0 rgba(255, 91, 46, 0.23);
}
@media (min-width: 900px) {
  .hs-form .hs-input {
    font-size: 18px;
  }
}

.hs-form .hs-input::placeholder {
  color: #474747;
}

.submitted-message {
  color: #007a08;
}

.email-input .hs-form {
  display: flex;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  max-width: 470px;
  height: 64px;
}

.email-input .hs-input,
.email-input .hs-button {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
}

.email-input .hs-button {
  appearance: none;
  font-size: 18px;
  color: #fff;
  border: 0;
  border-radius: 0 12px 12px 0;
  background-image: linear-gradient(137deg, #ff843e, #ff683f 100%);
  padding-left: 18px;
  padding-right: 18px;
  cursor: pointer;
  outline: none;
  min-width: 100px;
}
@media (min-width: 900px) {
  .email-input .hs-button {
    font-size: 24px;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.email-input .hs-button:hover {
  background-color: #ff683f;
  background-image: none;
}

.email-input .hs-button:active {
  background-color: #ff8240;
  background-image: none;
}

.email-input .submitted-message {
  line-height: 64px;
}

.email-input .hs-input {
  padding-right: 120px;
}

.request-demo-form {
  margin-top: 2rem;
  min-height: 313px;
}

.request-demo-form .hs-input {
  margin-bottom: 1.5rem;
  padding-top: 9px;
  padding-bottom: 9px;
}

.request-demo-form .hs-button {
  appearance: none;
  border: 0;
  border-radius: 12px;
  letter-spacing: 0.8px;
  background-image: linear-gradient(137deg, #ff843e, #ff683f 100%);
  box-shadow: 0 5px 14px 0 rgba(255, 104, 63, 0.25);
  color: #fff;
  font-weight: 500;
  padding: 13px 20px;
  margin: 0 auto;
  font-size: 14px;
  outline: none;
  line-height: 1;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width: 700px) {
  .request-demo-form .hs-button {
    font-size: 24px;
  }
}

.request-demo-form .hs-button:hover {
  background-color: #ff683f;
  background-image: none;
}

.request-demo-form .hs-button:active {
  background-color: #ff8240;
  background-image: none;
}

#btn-opener-demo {
  margin-top: 10px;
}

.request-demo-modal .tingle-modal-box {
  max-width: 600px;
}

.request-demo-modal .actions {
  text-align: center;
}
