.tingle-modal__close {
  font-family: Roboto, sans-serif;
  background-color: black !important;
}

.tingle-modal__closeIcon,
.tingle-modal__closeLabel {
  vertical-align: top;
}

.tingle-modal__closeLabel {
  display: none !important;
}

.tingle-modal__closeIcon {
  font-size: 2.4rem;
  position: absolute;
  right: 10px;
  top: 4px;
}

.tingle-modal__closeLabel {
  text-transform: uppercase;
  font-weight: bold;
}

.tingle-modal-box {
  text-align: left;
}

.tingle-modal-box__content {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 540px) {
  .tingle-modal-box__content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.tingle-modal-box__content b {
  font-weight: bold;
}
