.hs-form label {
  display: none;
}

.hs-form .hs-form-field {
  width: 100%;
}

.hs-form .hs-input {
  appearance: none;
  font-size: 24px;
  font-weight: 500;
  padding: 16px 20px 16px 20px;
  border-radius: 80px;
  border: none;
  background: #f1f1f1;
  width: 100%;
  outline: none;
}

.submitted-message {
  color: #007a08;
}

.email-input .hs-form {
  display: flex;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  max-width: 470px;
  height: 64px;
}

.email-input .hs-input,
.email-input .hs-button {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
}

.email-input .hs-button {
  appearance: none;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  border-radius: 80px;
  background-color: #ff6e5d;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  outline: none;
  min-width: 100px;
  border: 2px solid #ff6e5d;
  text-transform: uppercase;
}

.email-input .hs-button:hover {
  background-color: #da4d3d;
  border-color: #da4d3d;
}

.email-input .hs-button:active {
  background-color: #c03a2a;
  border-color: #c03a2a;
}

.email-input .submitted-message {
  line-height: 64px;
}

.email-input .hs-input {
  padding-right: 120px;
}

.request-demo-form {
  margin-top: 2rem;
  min-height: 313px;
}

.request-demo-form .hs-input {
  margin-bottom: 1.5rem;
  padding-top: 9px;
  padding-bottom: 9px;
}

.request-demo-form .hs-button {
  appearance: none;
  background-color: #ff543c;
  border: 0;
  border-radius: 80px;
  letter-spacing: 0.8px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 30px;
  text-transform: uppercase;
  margin: 0 auto;
  outline: none;
  line-height: 1;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

#btn-opener-demo {
  margin-top: 10px;
}

.request-demo-form .hs-button:hover {
  background-color: #da4d3d;
}

.request-demo-form .hs-button:active {
  background-color: #c03a2a;
}

.request-demo-modal .tingle-modal-box {
  max-width: 600px;
}

.request-demo-modal .actions {
  text-align: center;
}
