<extends src="layout.html">
  <block name="content">
    <header>
      <div class="container">
        <a id="header-logo" href="/">
          <noscript><img alt="" class="img--logo lazyload" src="img/logo.png" data-srcset="img/logo@2x.png 2x" /></noscript>
          <img alt="" class="img--logo lazyload" data-sizes="auto" data-src="img/logo.png" data-srcset="img/logo@2x.png 2x" />
        </a>
        <nav>
          <div><a class="header-contact-us" href="demo.html">Demo</a></div>
          <div><a class="header-contact-us" href="about.html">About Us</a></div>
          <div><a class="header-contact-us" href="press.html">Press</a></div>
          <div><a class="header-contact-us" href="mailto:hello@trendiamo.com">Contact Us</a></div>
          <div><button class="button--outline js-request-demo" type="button">Get a demo 👉</button></div>
        </nav>
      </div>
    </header>
    <div class="stage">
      <div class="stage-one-third demo-showcase">
        <div class="feature-card">
          <div class="pill pill-left">Personas & Showcases</div>
          <img class="feature-card-icon" src="img/demo/person.svg" />
          <h1>Welcome people to your site</h1>
          <p>Have real people introduce your products and brand to your customers in a personal way and let them recommend products to help your visitors identifying with what you sell.</p>
          <a href=""><div class="button feature-card-button">Go to Demo</div></a>
        </div>
      </div>
      <div class="stage-one-third demo-navigation">
        <div class="feature-card">
          <div class="pill pill-left">Funnel & Navigation</div>
          <img class="feature-card-icon" src="img/demo/navigation.svg" />
          <h1>Show your visitors around</h1>
          <p>Having many products on your site can become confusing and boring for your customers quickly. Help them self categorizing to show them only the most relevant products.</p>
          <a href=""><div class="button feature-card-button">Go to Demo</div></a>
        </div>
      </div>
      <div class="stage-one-third demo-chat">
        <div class="feature-card">
          <div class="pill pill-left">Scripted Chats</div>
          <img class="feature-card-icon" src="img/demo/text.svg" />
          <h1>Engage with your customers</h1>
          <p>Most questions that your customers might have can be answered right away by proactively presenting them with frequently asked questions to help them making a confident decision. </p>
          <a href=""><div class="button feature-card-button">Go to Demo</div></a>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <h3>Information</h3>
        <div class="footer-flex">
          <div>
            <a href="demo.html">Demo</a>
            <a href="about.html">About Us</a>
            <a href="press.html">Press</a>
            <a href="mailto:hello@trendiamo.com">Contact Us</a>
            <a href="#demo" class="js-request-demo">Get a Demo</a>
            <a href="#legal-notice" class="js-legal-notice">Legal Notice</a>
            <a href="#privacy-cookies" class="js-privacy-cookies">Privacy & Cookies</a>
          </div>
          <p>© 2018 Frekkls - by Trendiamo</p>
        </div>
      </div>
    </footer>
  </block>
</extends>
