<extends src="layout.html">
  <block name="content">
    <header>
      <div class="container">
        <a id="header-logo" href="/">
          <noscript><img alt="" class="img--logo lazyload" src="img/logo.png" data-srcset="img/logo@2x.png 2x" /></noscript>
          <img alt="" class="img--logo lazyload" data-sizes="auto" data-src="img/logo.png" data-srcset="img/logo@2x.png 2x" />
        </a>
        <nav>
          <div><a class="header-contact-us" href="about.html">Sobre</a></div>
          <div><a class="header-contact-us" href="press.html">Imprensa</a></div>
          <div><a class="header-contact-us" href="mailto:hello@trendiamo.com">Contato</a></div>
          <div><button class="button--outline js-request-demo" type="button">tente agora 👉</button></div>
        </nav>
      </div>
    </header>
    <section class="section section--hero">
      <div class="container">
        <noscript><img alt="" class="img--top lazyload" src="img/home-top.png" data-srcset="img/home-top@2x.png 2x" /></noscript>
        <img alt="" class="img--top lazyload" data-sizes="auto" data-src="img/home-top.png" data-srcset="img/home-top@2x.png 2x" />
        <div class="c-50">
          <h2>Uma ferramenta para criar e integrar sua forca de vendas no seu site</h2>
          <h3>Transforme seus clientes em promotores, influenciadores em guias, inclua especialistas para estimular seus visitantes a comprar.</h3>
          <button id="btn-opener-demo" class="button js-request-demo" type="button">tente agora 👉</button>
        </div>
        <div class="c-50"></div>
      </div>
    </section>
    <section id="topcta" class="section section--top-cta">
      <div class="container">
        <div class="small-container">
          <h3>Seja um dos primeiros a experimentar nossa ferramenta! 🚀</h3>
          <p>Estamos empenhados em construir o futuro do E-commerce junto com nossos Beta testers. Faca parte disso e também seja um dos primeiros a levar o engajamento e conversão de vendas on-line para um novo patamar.</p>
          <!-- <div class="email-input">
            <input type="email" name="email" placeholder="E-mail" />
            <button type="button">Go&nbsp;&nbsp;&nbsp;👉</button>
          </div> -->
          <div class="email-input email-input-1"></div>
        </div>
      </div>
    </section>
    <section class="section section--depth">
      <div class="container">
        <div class="small-container">
          <h3>Aumente a conversão de vendas e a retenção de usuários do seu site</h3>
          <p>Descubra como podemos potencializar e exponencializar as suas vendas online.</p>
        </div>
        <div class="cards">
          <div class="card">
            <div>
              <div class="pill">Avaliações</div>
            </div>
            <h3>Transforme seus clientes em promotores</h3>
            <p>Leve as avaliações de seus clientes para um novo patamar através de conteúdos relevantes.</p>
            <div>
              <button class="button--no-outline js-request-demo" type="button">Fale com nosso time&nbsp;👉</button>
            </div>
          </div>
          <div class="card">
            <div>
              <div class="pill">Uma Jornada do cliente facilitada</div>
            </div>
            <h3>Transforme os seus influenciadores em guias</h3>
            <p>Um novo nivel de interação com influencers em seu site. Os seus principais embaixadores em cada passo do funil de vendas.</p>
            <div>
              <button class="button--no-outline js-request-demo" type="button">tente agora&nbsp;👉</button>
            </div>
          </div>
          <div class="card">
            <div>
              <div class="pill">Ajude seu cliente de uma nova forma</div>
            </div>
            <h3>Atraia especialistas que estimulem seus clientes a comprar</h3>
            <p>Elimine duvidas de seus clientes durante o processo de decisão.</p>
            <div>
              <button class="button--no-outline js-request-demo" type="button">Receba atualizações&nbsp;👉</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="bottom-img-container">
      <section class="section section--bottom-cta">
        <div class="container">
          <div class="c-50">
            <h3>Entre em contato!</h3>
            <p>Voce tem ou gerencia uma loja online? Se inscreva e contataremos você para mostrar como podemos crescer as suas vendas.</p>
            <!-- <div class="email-input">
              <input type="email" name="email" placeholder="E-mail" />
              <button type="button">Go</button>
            </div> -->
            <div class="email-input email-input-2"></div>
          </div>
          <div class="c-50"></div>
        </div>
      </section>
      <noscript><img alt="" class="img--bottom lazyload" src="img/home-plugin.png" data-srcset="img/home-plugin@2x.png 2x" /></noscript>
      <img alt="" class="img--bottom lazyload" data-sizes="auto" data-src="img/home-plugin.png" data-srcset="img/home-plugin@2x.png 2x" />
    </div>
    <footer>
      <div class="container">
        <h3>Informacao</h3>
        <div class="footer-flex">
          <div>
            <a href="about.html">Sobre</a>
            <a href="press.html">Imprensa</a>
            <a href="mailto:hello@trendiamo.com">Contato</a>
            <a href="#demo" class="js-request-demo">Receba uma demonstração</a>
            <a href="#legal-notice" class="js-legal-notice">Aviso Legal (EN)</a>
            <a href="#privacy-cookies" class="js-privacy-cookies">Privacidade & Cookies (EN)</a>
          </div>
          <p>© 2018 Frekkls - by Trendiamo</p>
        </div>
      </div>
    </footer>
  </block>
</extends>
