<extends src="layout.html">
  <block name="content">
    <include src="../shared/navigational-section/header.html"></include>
    <div class="breadcrumbs guitar-breadcrumbs">
      <a class="breadcrumb-link" href="/guitars_home.html">
        <p>Guitars</p>
      </a>
      <img class="arrow-icon" alt="" src="/img/Icons/ic-card-arrow.svg" />
      <a class="breadcrumb-link" href="/guitars_filtered_electric.html">
        <p>Electric</p>
      </a>
      <img class="arrow-icon" alt="" src="/img/Icons/ic-card-arrow.svg" />
      <p>Gibson LP Standard</p>
    </div>
    <div class="pdp-main white-pdp-main">
      <div class="main-left-half white-pdp-main">
        <img class="pdp-img pdp-guitars" alt="" src="/img/navigational-section/pdp-images/Gibson-LP-Standard.jpg" />
      </div>
      <div class="main-right-half">
        <div class="product-details pdp-big-screen">
          <div class="product-info">
            <include src="../product-details/navigational-section/gibson-lp-standard.html"></include>
            <a class="buy-button-link" href="/purchased_jason_reynolds.html">
              <include src="../shared/buy-button.html"></include>
            </a>
          </div>
          <div class="miniature-images">
            <img class="shopping-icon" alt="" src="/img/navigational-section/miniature-images/miniature-guitar-25.png" />
            <img class="shopping-icon" alt="" src="/img/navigational-section/miniature-images/miniature-guitar-26.png" />
            <img class="shopping-icon" alt="" src="/img/navigational-section/miniature-images/miniature-guitar-27.png" />
          </div>
        </div>
        <div class="product-details pdp-small-screen">
          <div class="product-info">
            <a class="buy-button-link" href="/purchased_jason_reynolds.html">
              <include src="../shared/buy-button.html"></include>
            </a>
            <include src="../product-details/navigational-section/gibson-lp-standard.html"></include>
          </div>
        </div>
      </div>
    </div>
    <include src="../shared/navigational-section/footer.html"></include>
  </block>
</extends>
