<extends src="layout.html">
  <block name="content">
    <include src="../shared/navigational-section/header.html"></include>
    <include src="../shared/navigational-section/banner.html"></include>
    <section class="body">
      <div class="products-container guitar-products-container">
        <a class="product-link" href="/hanika_50pc.html">
          <div class="card product-card-3 guitar-card">
            <img class="guitar-image" alt="" src="/img/navigational-section/home-page-images/Hanika-50PC.jpg" />
            <div class="guitar-card-details">
              <p class="guitar-card-name">Hanika 50PC</p>
              <p class="guitar-card-price">€660</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/hanika_natural_pc.html">
          <div class="card product-card-3 guitar-card">
            <img class="guitar-image" alt="" src="/img/navigational-section/home-page-images/Hanika-Natural-PC.jpg" />
            <div class="guitar-card-details">
              <p class="guitar-card-name">Hanika Natural-PC</p>
              <p class="guitar-card-price">€1600</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/yamaha_cg122mc.html">
          <div class="card product-card-3 guitar-card">
            <img class="guitar-image" alt="" src="/img/navigational-section/home-page-images/Yamaha-CG122MC.jpg" />
            <div class="guitar-card-details">
              <p class="guitar-card-name">Yamaha CG122MC</p>
              <p class="guitar-card-price">€190</p>
            </div>
          </div>
        </a>
      </div>
    </section>
    <include src="../shared/navigational-section/footer.html"></include>
  </block>
</extends>
