<extends src="layout.html">
  <block name="content">
    <include src="../shared/navigational-section/header.html"></include>
    <include src="../shared/navigational-section/banner.html"></include>
    <section class="body">
      <div class="products-container guitar-products-container">
        <a class="product-link" href="/epiphone_ej200.html">
          <div class="card product-card-3 guitar-card">
            <img class="guitar-image" alt="" src="/img/navigational-section/home-page-images/Epiphone-EJ200.jpg" />
          </div>
        </a>
        <a class="product-link" href="/gretsch_g5022.html">
          <div class="card product-card-3 guitar-card">
            <img class="guitar-image" alt="" src="/img/navigational-section/home-page-images/Gretsch-G5022.jpg" />
          </div>
        </a>
        <a class="product-link" href="/takamine_ef250tk.html">
          <div class="card product-card-3 guitar-card">
            <img class="guitar-image" alt="" src="/img/navigational-section/home-page-images/Takamine-EF250TK.jpg" />
          </div>
        </a>
      </div>
    </section>
    <include src="../shared/navigational-section/footer.html"></include>
  </block>
</extends>
