<extends src="layout.html">
  <block name="content">
    <include src="../shared/navigational-section/header.html"></include>
    <div class="container">
      <div class="home-main">
        <div class="main-left-third">
          <div class="main-info-section">
            <div class="main-info-textbox">
              <p>50% OFF</p>
            </div>
            <p>PRODUCTS SALE</p>
            <div class="main-info-button">
              <p>GET PROMOCODE</p>
            </div>
          </div>
        </div>
        <div class="main-right-third">
          <img alt="" src="/img/home-page-images/header.png" />
        </div>
      </div>
    </div>
    <section class="body">
      <div class="products-container">
        <a class="product-link" href="/epiphone_casino_vs.html">
          <div class="card product-card-3 guitar-card">
            <img class="guitar-image" alt="" src="/img/navigational-section/home-page-images/Epiphone-Casino-VS.jpg" />
          </div>
        </a>
        <a class="product-link" href="/harley_benton_hb_35.html">
          <div class="card product-card-3 guitar-card">
            <img class="guitar-image" alt="" src="/img/navigational-section/home-page-images/Harley-Benton-HB-35.jpg" />
          </div>
        </a>
        <a class="product-link" href="/ibanez_as153_ays.html">
          <div class="card product-card-3 guitar-card">
            <img class="guitar-image" alt="" src="/img/navigational-section/home-page-images/Ibanez-AS153-AYS.jpg" />
          </div>
        </a>
      </div>
    </section>
    <include src="../shared/footer.html"></include>
  </block>
</extends>
