<extends src="layout.html">
  <block name="content">
    <include src="../shared/navigational-section/header.html"></include>
    <include src="../shared/navigational-section/banner.html"></include>
    <section class="body">
      <div class="products-container guitar-products-container">
        <a class="product-link" href="/gibson_lp_standard.html">
          <div class="card product-card-3 guitar-card">
            <img class="guitar-image" alt="" src="/img/navigational-section/home-page-images/Gibson-LP-Standard.jpg" />
          </div>
        </a>
        <a class="product-link" href="/harley_benton_hb_ja_60.html">
          <div class="card product-card-3 guitar-card">
            <img class="guitar-image" alt="" src="/img/navigational-section/home-page-images/Harley-Benton-HB-JA-60.jpg" />
          </div>
        </a>
        <a class="product-link" href="/yamaha_revstar_rs620.html">
          <div class="card product-card-3 guitar-card">
            <img class="guitar-image" alt="" src="/img/navigational-section/home-page-images/Yamaha-Revstar-RS620.jpg" />
          </div>
        </a>
      </div>
    </section>
    <include src="../shared/navigational-section/footer.html"></include>
  </block>
</extends>
