<extends src="layout.html">
  <block name="content">
    <div class="container">
      <div class="home-main">
        <div class="main-left-third">
          <div class="main-info-section">
            <div class="main-info-textbox">
              <p>50% OFF</p>
            </div>
            <p>PRODUCTS SALE</p>
            <div class="main-info-button">
              <p>GET PROMOCODE</p>
            </div>
          </div>
        </div>
        <div class="main-right-third">
          <img alt="" src="/img/home-page-images/header.png" />
        </div>
      </div>
    </div>
    <section class="body">
      <div class="products-container">
        <a class="product-link" href="/surfboard.html">
          <div class="card product-card-1" id="surfboard-card">
            <div class="surfboard-left-half">
              <img alt="" src="/img/home-page-images/surfboard-png-surfing-board-png-image-1000.png" />
            </div>
            <div class="surfboard-right-half">
              <div>
                <p>THE NEW WAY TO SURF</p>
                <p id="surfboard-price">$132.00</p>
              </div>
            </div>
          </div>
        </a>
        <a class="product-link" href="/bike.html">
          <div class="product-card-2" id="bike-card">
            <div id="bike-card-info">
              <p>MAKE OUR CITY GREEN!</p>
              <p>EXPLORE OUR RETRO BIKES</p>
            </div>
            <img id="bike-card-image" alt="" src="/img/home-page-images/lg-bike.jpg" />
          </div>
        </a>
        <a class="product-link" href="/glasses.html">
          <div class="card product-card-1" id="glasses-card">
            <p>SHINE BRIGHT LIKE A DIAMOND</p>
            <img alt="" src="/img/home-page-images/img-glasses.png" />
            <p id="glasses-price">$18.00</p>
          </div>
        </a>
        <a class="product-link" href="/guitar.html">
          <div class="card product-card-3" id="guitar-card">
            <p>LEARN TO PLAY YOUR FAVOURITE MUSIC</p>
            <img alt="" src="/img/home-page-images/lespaul.png" />
          </div>
        </a>
        <a class="product-link" href="/shirt.html">
          <div class="card product-card-3" id="shirt-card">
            <p>TRY SOMETHING NEW</p>
            <img alt="" src="/img/home-page-images/shirt.png" />
          </div>
        </a>
        <a class="product-link" href="/shoes.html">
          <div class="card product-card-3" id="shoes-card">
            <img alt="" src="/img/home-page-images/shoes.png" />
            <p>IMAGINE YOUR PERFECT SHOES</p>
          </div>
        </a>
        <a class="product-link" href="/bag.html">
          <div class="card product-card-3" id="bag-card">
            <p>NEW ARRIVALS</p>
            <img alt="" src="/img/home-page-images/backpack.png" />
          </div>
        </a>
      </div>
    </section>
  </block>
</extends>
