<extends src="layout.html">
  <block name="content">
    <include src="../shared/header.html"></include>
    <div class="container">
      <div class="home-main">
        <div class="main-info-section">
          <div class="main-info-textbox">
            <p>Everything on Sale 50%</p>
          </div>
          <div class="main-info-text">
            <p class="banner-text-top">New Arrivals</p>
            <p class="banner-text-bottom">Get To Know Our New Wetsuits</p>
          </div>
          <div class="main-info-button">
            <p>Go To Wetsuits</p>
          </div>
        </div>
      </div>
    </div>
    <section class="body">
      <div class="products-container">
        <a class="product-link" href="/bike.html">
          <div class="product-card-2" id="bike-card">
            <div id="bike-card-info">
              <p>Make your city green!</p>
              <p>Explore our retro bikes</p>
              <p id="bike-price">FROM €199</p>
            </div>
            <img id="bike-card-image" alt="" src="/img/home-page-images/lg-bike.jpg" />
          </div>
        </a>
        <a class="product-link" href="/bike.html">
          <div class="product-card-2" id="bike-card">
            <div id="bike-card-info">
              <p>Make your city green!</p>
              <p>Explore our retro bikes</p>
              <p id="bike-price">FROM €199</p>
            </div>
            <img id="bike-card-image" alt="" src="/img/home-page-images/lg-bike.jpg" />
          </div>
        </a>
        <a class="product-link" href="/surfboard.html">
          <div class="card product-card-1" id="surfboard-card">
            <div class="surfboard-left-half">
              <img alt="" src="/img/home-page-images/surfboard-png-surfing-board-png-image-1000.png" />
            </div>
            <div class="surfboard-right-half">
              <div>
                <p>THE NEW WAY TO SURF</p>
                <p id="surfboard-price">€320.00</p>
              </div>
            </div>
          </div>
        </a>
        <a class="product-link" href="/bag.html">
          <div class="card product-card-3" id="bag-card">
            <p>NEW ARRIVALS</p>
            <img alt="" src="/img/home-page-images/backpack.png" />
          </div>
        </a>
      </div>
    </section>
    <include src="../shared/footer.html"></include>
  </block>
</extends>
