<extends src="layout.html">
  <block name="content">
    <include src="../shared/header.html"></include>
    <div class="container">
      <div class="home-main">
        <div class="main-info-section">
          <div class="main-info-textbox">
            <p>Everything on Sale 50%</p>
          </div>
          <div class="main-info-text">
            <p class="banner-text-top">New Arrivals</p>
            <p class="banner-text-bottom">Discover Our New Wetsuit Collection</p>
          </div>
          <div class="main-info-button">
            <p>Go To Wetsuits</p>
          </div>
        </div>
      </div>
    </div>
    <section class="body">
      <div class="products-container big-screen">
        <a class="product-link" href="/surfboards.html">
          <div class="product-card-2" id="category-card-surfboards">
            <div>
              <p>Surfboards</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/wetsuits.html">
          <div class="product-card-2" id="category-card-wetsuits">
            <div>
              <p>Wetsuits</p>
            </div>
          </div>
        </a>
        <a id="home-surfboard-first" class="product-link" href="/surfboard_2.html">
          <div class="card product-card-1 surfboard-card">
            <img class="surfboard-image" alt="" src="/img/pdp-images/lg-soft-school-wide-surf-blue.png" />
            <div class="surfboard-card-details">
              <p class="surfboard-card-name">Soft School Wide Surf Blue</p>
              <p class="surfboard-card-price">€499</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/surfboard_2.html">
          <div class="card product-card-1 surfboard-card">
            <img class="surfboard-image" alt="" src="/img/pdp-images/lg-soft-school-wide-surf-blue.png" />
            <div class="surfboard-card-details">
              <p class="surfboard-card-name">Soft School Wide Surf Blue</p>
              <p class="surfboard-card-price">€499</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/surfboard_2.html">
          <div class="card product-card-1 surfboard-card">
            <img class="surfboard-image" alt="" src="/img/pdp-images/lg-soft-school-wide-surf-blue.png" />
            <div class="surfboard-card-details">
              <p class="surfboard-card-name">Soft School Wide Surf Blue</p>
              <p class="surfboard-card-price">€499</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/surfboard_2.html">
          <div class="card product-card-1 surfboard-card">
            <img class="surfboard-image" alt="" src="/img/pdp-images/lg-soft-school-wide-surf-blue.png" />
            <div class="surfboard-card-details">
              <p class="surfboard-card-name">Soft School Wide Surf Blue</p>
              <p class="surfboard-card-price">€499</p>
            </div>
          </div>
        </a>
      </div>

    </section>
    <include src="../shared/footer.html"></include>
  </block>
</extends>
