<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="danielbugge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <block name="title">
      <title>YourBrand</title>
    </block>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <main id="{{ pageId }}">
      <block name="content"></block>
    </main>
    <block name="javascript">
      <script src="js/main.js" defer></script>
      <script>
        !(function(f, r, e, k, k, l, s) {
          f.addEventListener('load', function() {
            var s1 = r.createElement('script'),
              s2 = r.getElementsByTagName('script')[0]
            s1.src = '//plugiamo.s3.eu-central-1.amazonaws.com/plugin.js'
            s2.parentNode.insertBefore(s1, s2)
          })
        })(window, document)
      </script>
    </block>
  </body>
</html>
