<extends src="layout.html">
  <block name="content">
    <div class="pdp-main white-pdp-main">
      <div class="main-left-half white-pdp-main">
        <img class="pdp-img" alt="" src="/img/pdp-images/lg-shoes.jpg" />
      </div>
      <div class="main-right-half">
        <div class="product-details pdp-big-screen">
          <div class="product-info">
            <include src="../product-details/shoes.html"></include>
            <include src="../shared/buy-button.html"></include>
          </div>
          <div class="miniature-images">
            <img class="shopping-icon" alt="" src="/img/miniature-images/miniature-shoes-1.png" />
            <img class="shopping-icon" alt="" src="/img/miniature-images/miniature-shoes-2.png" />
            <img class="shopping-icon" alt="" src="/img/miniature-images/miniature-shoes-3.png" />
          </div>
        </div>
        <div class="product-details pdp-small-screen">
          <div class="product-info">
            <include src="../shared/buy-button.html"></include>
            <include src="../product-details/shoes.html"></include>
          </div>
        </div>
      </div>
    </div>
    <include src="../shared/footer.html"></include>
  </block>
</extends>
