<extends src="layout.html">
  <block name="content">
    <include src="../shared/header.html"></include>
    <include src="../shared/banner-surfboards.html"></include>
    <section class="body">
      <div class="products-container">
        <a class="product-link" href="/surfboard_1.html">
          <div class="card product-card-3 plp-card">
            <img class="plp-image" alt="" src="/img/pdp-images/lg-torq-long.jpg" />
            <div class="plp-card-details">
              <p class="plp-card-name">Torq Long Soft & Hard surfboard 8ft 6 - Green</p>
              <p class="plp-card-price">€349</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/surfboard_2.html">
          <div class="card product-card-3 plp-card">
            <img class="plp-image" alt="" src="/img/pdp-images/lg-soft-school-wide-surf-blue.png" />
            <div class="plp-card-details">
              <p class="plp-card-name">Soft School Wide Surf Blue</p>
              <p class="plp-card-price">€499</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/surfboard_3.html">
          <div class="card product-card-3 plp-card">
            <img class="plp-image" alt="" src="/img/pdp-images/lg-nsp-elements-hdt-longboard-navy_pack_4.jpg" />
            <div class="plp-card-details">
              <p class="plp-card-name">Elements Longboard surfboard package 8ft 6</p>
              <p class="plp-card-price">€399</p>
            </div>
          </div>
        </a>
      </div>
    </section>
    <include src="../shared/footer.html"></include>
  </block>
</extends>
