<extends src="layout.html">
  <block name="content">
    <include src="../shared/header.html"></include>
    <section class="body">
      <div class="products-container">
        <div class="products-list">
          <a class="product-link" href="/surfboard_1.html">
            <div class="card product-card-3 plp-card">
              <img class="plp-image" alt="" src="/img/pdp-images/lg-torq-long.jpg" />
              <div class="plp-card-details">
                <div class="plp-card-name-container">
                  <p class="plp-card-name">Torq Long Soft & Hard surfboard 8ft 6 - Green</p>
                </div>
                <p class="plp-card-price">€349</p>
              </div>
            </div>
          </a>
          <a class="product-link" href="/surfboard_2.html">
            <div class="card product-card-3 plp-card">
              <img class="plp-image" alt="" src="/img/pdp-images/lg-soft-school-wide-surf-blue.png" />
              <div class="plp-card-details">
                <p class="plp-card-name">Soft School Wide Surf Blue</p>
                <p class="plp-card-price">€499</p>
              </div>
            </div>
          </a>
          <a class="product-link" href="/surfboard_3.html">
            <div class="card product-card-3 plp-card">
              <img class="plp-image" alt="" src="/img/pdp-images/lg-nsp-elements-hdt-longboard-navy_pack_4.jpg" />
              <div class="plp-card-details">
                <p class="plp-card-name">Elements Longboard surfboard package 8ft 6</p>
                <p class="plp-card-price">€399</p>
              </div>
            </div>
          </a>
          <a class="product-link" href="/surfboard_4.html">
            <div class="card product-card-3 plp-card">
              <img class="plp-image" alt="" src="/img/pdp-images/lg-firewire-greedy-beaver.jpg" />
              <div class="plp-card-details">
                <p class="plp-card-name">Firewire Timbertek Greedy Beaver surfboard 6ft 8 FCS II - Natural Wood</p>
                <p class="plp-card-price">€499</p>
              </div>
            </div>
          </a>
          <a class="product-link" href="/surfboard_5.html">
            <div class="card product-card-3 plp-card">
              <img class="plp-image" alt="" src="/img/pdp-images/lg-firewire-hydronaut-surfboard.jpg" />
              <div class="plp-card-details">
                <p class="plp-card-name">Firewire LFT Hydronaut surfboard 6ft 8 FCS II - White</p>
                <p class="plp-card-price">€599</p>
              </div>
            </div>
          </a>
          <a class="product-link" href="/surfboard_6.html">
            <div class="card product-card-3 plp-card">
              <img class="plp-image" alt="" src="/img/pdp-images/lg-mark-phipps-one-bad-egg-surfboard.jpg" />
              <div class="plp-card-details">
                <p class="plp-card-name">Mark Phipps One Bad Egg surfboard 6ft 8 FCS II - Red Rail</p>
                <p class="plp-card-price">€549</p>
              </div>
            </div>
          </a>
          <a class="product-link" href="/surfboard_7.html">
            <div class="card product-card-3 plp-card">
              <img class="plp-image" alt="" src="/img/pdp-images/lg-slater-designs-lft-cymatic-surfboard.jpg" />
              <div class="plp-card-details">
                <p class="plp-card-name">Slater Designs LFT Cymatic surfboard 6ft 4 Futures - White</p>
                <p class="plp-card-price">€549</p>
              </div>
            </div>
          </a>
          <a class="product-link" href="/surfboard_8.html">
            <div class="card product-card-3 plp-card">
              <img class="plp-image" alt="" src="/img/pdp-images/lg-lost-psycho-killer-surfboard.jpg" />
              <div class="plp-card-details">
                <p class="plp-card-name">Lost Psycho Killer Bro Dims surfboard 6ft 6 FCS II - White</p>
                <p class="plp-card-price">€599</p>
              </div>
            </div>
          </a>
          <a class="product-link" href="/surfboard_9.html">
            <div class="card product-card-3 plp-card">
              <img class="plp-image" alt="" src="/img/pdp-images/lg-form-highline-surfboard.jpg" />
              <div class="plp-card-details">
                <p class="plp-card-name">Form High Line surfboard 6ft 6 FCS II - White</p>
                <p class="plp-card-price">€349</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
    <include src="../shared/footer.html"></include>
  </block>
</extends>
