<extends src="layout.html">
  <block name="content">
    <include src="../shared/header.html"></include>
    <section class="body">
      <div class="products-container">
        <a class="product-link" href="/surfboard_7.html">
          <div class="card product-card-3 surfboard-card">
            <img class="surfboard-image" alt="" src="/img/pdp-images/lg-slater-designs-lft-cymatic-surfboard.jpg" />
            <div class="surfboard-card-details">
              <p class="surfboard-card-name">Slater Designs LFT Cymatic surfboard 6ft 4 Futures - White</p>
              <p class="surfboard-card-price">€549</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/surfboard_8.html">
          <div class="card product-card-3 surfboard-card">
            <img class="surfboard-image" alt="" src="/img/pdp-images/lg-lost-psycho-killer-surfboard.jpg" />
            <div class="surfboard-card-details">
              <p class="surfboard-card-name">Lost Psycho Killer Bro Dims surfboard 6ft 6 FCS II - White</p>
              <p class="surfboard-card-price">€599</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/surfboard_9.html">
          <div class="card product-card-3 surfboard-card">
            <img class="surfboard-image" alt="" src="/img/pdp-images/lg-form-highline-surfboard.jpg" />
            <div class="surfboard-card-details">
              <p class="surfboard-card-name">Form High Line surfboard 6ft 6 FCS II - White</p>
              <p class="surfboard-card-price">€349</p>
            </div>
          </div>
        </a>
      </div>
    </section>
    <include src="../shared/footer.html"></include>
  </block>
</extends>
