<extends src="layout.html">
  <block name="content">
    <include src="../shared/header.html"></include>
    <section class="body">
      <div class="products-container">
        <a class="product-link" href="/surfboard_1.html">
          <div class="card product-card-3 surfboard-card">
            <img class="surfboard-image" alt="" src="/img/navigational-section/home-page-images/Epiphone-Casino-VS.jpg" />
            <div class="surfboard-card-details">
              <p class="surfboard-card-name">Surfboard 1</p>
              <p class="surfboard-card-price">€320</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/surfboard_2.html">
          <div class="card product-card-3 surfboard-card">
            <img class="surfboard-image" alt="" src="/img/navigational-section/home-page-images/Epiphone-EJ200.jpg" />
            <div class="surfboard-card-details">
              <p class="surfboard-card-name">Surfboard 2</p>
              <p class="surfboard-card-price">€320</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/surfboard_3.html">
          <div class="card product-card-3 surfboard-card">
            <img class="surfboard-image" alt="" src="/img/navigational-section/home-page-images/Gibson-LP-Standard.jpg" />
            <div class="surfboard-card-details">
              <p class="surfboard-card-name">Surfboard 3</p>
              <p class="surfboard-card-price">€320</p>
            </div>
          </div>
        </a>
      </div>
    </section>
    <include src="../shared/navigational-section/footer.html"></include>
  </block>
</extends>
