<extends src="layout.html">
  <block name="content">
    <include src="../shared/header.html"></include>
    <div class="breadcrumbs-container-beige">
      <div class="breadcrumbs">
        <a class="breadcrumb-link" href="/">
          <p>Home</p>
        </a>
        <img class="arrow-icon" alt="" src="/img/Icons/ic-card-arrow.svg" />
        <a class="breadcrumb-link" href="/wetsuits">
          <p>Wetsuits</p>
        </a>
        <img class="arrow-icon" alt="" src="/img/Icons/ic-card-arrow.svg" />
        <p class="breadcrumb-name">O'Neill Pyscho Freak Z.E.N. Zip 4/3 - TB3</p>
      </div>
    </div>
    <div class="pdp-main light-beige-pdp-main">
      <div class="main-left-half light-beige-pdp-main">
        <img class="pdp-img portrait" alt="" src="/img/pdp-images/lg_oneill_psycho_freak.jpg" />
      </div>
      <div class="main-right-half">
        <div class="product-details pdp-big-screen">
          <div class="product-info">
            <include src="../product-details/wetsuit_7.html"></include>
            <a class="buy-button-link" href="/purchased_jane_george.html">
              <include src="../shared/buy-button.html"></include>
            </a>
          </div>
          <div class="miniature-images">
            <img class="shopping-icon" alt="" src="/img/miniature-images/surfminiature_39.png" />
            <img class="shopping-icon" alt="" src="/img/miniature-images/surfminiature_40.png" />
            <img class="shopping-icon" alt="" src="/img/miniature-images/surfminiature_41.png" />
          </div>
        </div>
        <div class="product-details pdp-small-screen">
          <div class="product-info">
            <a class="buy-button-link" href="/purchased_jane_george.html">
              <include src="../shared/buy-button.html"></include>
            </a>
            <include src="../product-details/wetsuit_7.html"></include>
          </div>
        </div>
      </div>
    </div>
    <include src="../shared/footer.html"></include>
  </block>
</extends>
