<extends src="layout.html">
  <block name="content">
    <include src="../shared/header.html"></include>
    <section class="body">
      <div class="products-container">
        <a class="product-link" href="/wetsuit_7.html">
          <div class="card product-card-3 wetsuit-card">
            <img class="wetsuit-image" alt="" src="/img/navigational-section/home-page-images/Epiphone-Casino-VS.jpg" />
            <div class="wetsuit-card-details">
              <p class="wetsuit-card-name">Wetsuit 7</p>
              <p class="wetsuit-card-price">€320</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/wetsuit_8.html">
          <div class="card product-card-3 wetsuit-card">
            <img class="wetsuit-image" alt="" src="/img/navigational-section/home-page-images/Epiphone-EJ200.jpg" />
            <div class="wetsuit-card-details">
              <p class="wetsuit-card-name">Wetsuit 8</p>
              <p class="wetsuit-card-price">€320</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/wetsuit_9.html">
          <div class="card product-card-3 wetsuit-card">
            <img class="wetsuit-image" alt="" src="/img/navigational-section/home-page-images/Gibson-LP-Standard.jpg" />
            <div class="wetsuit-card-details">
              <p class="wetsuit-card-name">Wetsuit 9</p>
              <p class="wetsuit-card-price">€320</p>
            </div>
          </div>
        </a>
      </div>
    </section>
    <include src="../shared/footer.html"></include>
  </block>
</extends>
