<extends src="layout.html">
  <block name="content">
    <include src="../shared/header.html"></include>
    <section class="body">
      <div class="products-container">
        <a class="product-link" href="/wetsuit_4.html">
          <div class="card product-card-3 plp-card">
            <img class="plp-image" alt="" src="/img/pdp-images/lg_7TILL8_surf_fullsuit.jpg" />
            <div class="plp-card-details">
              <p class="plp-card-name">7TILL8 Surf Fullsuit</p>
              <p class="plp-card-price">€215</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/wetsuit_5.html">
          <div class="card product-card-3 plp-card">
            <img class="plp-image" alt="" src="/img/pdp-images/lg_hurley_advantage_elite.png" />
            <div class="plp-card-details">
              <p class="plp-card-name">Hurley Advantage Elite 3/3mm Fullsuit</p>
              <p class="plp-card-price">€750</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/wetsuit_6.html">
          <div class="card product-card-3 plp-card">
            <img class="plp-image" alt="" src="/img/pdp-images/lg_hurley_advantage_max.png" />
            <div class="plp-card-details">
              <p class="plp-card-name">Hurley Advantage Max 2/2mm Fullsuit</p>
              <p class="plp-card-price">€375</p>
            </div>
          </div>
        </a>
      </div>
    </section>
    <include src="../shared/footer.html"></include>
  </block>
</extends>
