<extends src="layout.html">
  <block name="content">
    <include src="../shared/header.html"></include>
    <section class="body">
      <div class="products-container">
        <a class="product-link" href="/wetsuit_1.html">
          <div class="card product-card-3 wetsuit-card">
            <img class="wetsuit-image" alt="" src="/img/pdp-images/lg_xcel_axis.jpg" />
            <div class="wetsuit-card-details">
              <p class="wetsuit-card-name">Xcel Axis</p>
              <p class="wetsuit-card-price">€169,95</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/wetsuit_2.html">
          <div class="card product-card-3 wetsuit-card">
            <img class="wetsuit-image" alt="" src="/img/pdp-images/lg_xcel_infiniti.jpg" />
            <div class="wetsuit-card-details">
              <p class="wetsuit-card-name">Xcel Infiniti</p>
              <p class="wetsuit-card-price">€189,95</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/wetsuit_3.html">
          <div class="card product-card-3 wetsuit-card">
            <img class="wetsuit-image" alt="" src="/img/pdp-images/lg_xcel_revolt.jpg" />
            <div class="wetsuit-card-details">
              <p class="wetsuit-card-name">Xcel Revolt</p>
              <p class="wetsuit-card-price">€245,95</p>
            </div>
          </div>
        </a>
      </div>
    </section>
    <include src="../shared/footer.html"></include>
  </block>
</extends>
