<extends src="layout.html">
  <block name="content">
    <include src="../shared/header.html"></include>
    <section class="body">
      <div class="products-container">
        <a class="product-link" href="/wetsuit_7.html">
          <div class="card product-card-3 plp-card">
            <img class="plp-image" alt="" src="/img/pdp-images/lg_oneill_psycho_freak.jpg" />
            <div class="plp-card-details">
              <p class="plp-card-name">O'Neill Pyscho Freak Z.E.N. Zip 4/3 - TB3</p>
              <p class="plp-card-price">€529,95</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/wetsuit_8.html">
          <div class="card product-card-3 plp-card">
            <img class="plp-image" alt="" src="/img/pdp-images/lg_oneill_psycho_tech.jpg" />
            <div class="plp-card-details">
              <p class="plp-card-name">O'Neill Psycho Tech FUZE 4/3 TB3</p>
              <p class="plp-card-price">€429,95</p>
            </div>
          </div>
        </a>
        <a class="product-link" href="/wetsuit_9.html">
          <div class="card product-card-3 plp-card">
            <img class="plp-image" alt="" src="/img/pdp-images/lg_oneill_women_psyco_one.jpg" />
            <div class="plp-card-details">
              <p class="plp-card-name">O'Neill Women's Psycho One 4/3 Back Zip</p>
              <p class="plp-card-price">€369,95</p>
            </div>
          </div>
        </a>
      </div>
    </section>
    <include src="../shared/footer.html"></include>
  </block>
</extends>
