{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

<div class="page-width" >
  <div class="uptous-main-container">
    <br />
    {% section 'uptous-sidebar' %}
    {% section 'collection-template' %}
  </div>
</div>
