{% comment %}
  The contents of the lists-collections.liquid template can be found in /sections/lists-collections-template.liquid
{% endcomment %}

<div class="page-width" >
  <div class="uptous-main-container">
    {% section 'uptous-sidebar' %}
    {% section 'list-collections-template' %}
  </div>
</div>
