{% comment %}
  The contents of the lists-collections.liquid template can be found in /sections/lists-collections-template.liquid
{% endcomment %}

<div class="page-width" >
  <div class="uptous-main-container" >
    <div class="uptous-sidebar-container">
    </div>
    <div class="uptous-main-content" >
      {% section 'timer-shopping-time-left' %}
    </div>
  </div>
  <div class="uptous-main-container">
    <br />
    {% section 'uptous-sidebar' %}
    {% section 'list-collections-template' %}
  </div>
</div>
