<div class="page-width">

  {% section 'hero-jobs' %}

  <div class="section-spaceous">
    <h3 class="text-center" >{{ 'jobs.heading' | t }}</h3>
    <p class="limited-text-block" >{{ 'jobs.subheading' | t }}</p>
  </div>

  {% section 'jobs-careers' %}

</div>
