<div class="page-width" >
  <div class="uptous-main-container" >
    <div class="uptous-main-content" >
      {% section 'timer-sale-starts-in' %}
    </div>
  </div>
  <div class="uptous-main-container">
    {% section 'collection-upcoming-template' %}
  </div>
</div>
