<div class="page-width u2u-section-cta">
  <a href="{{ section.settings.link }}"
    class="btn hero__btn btn-u2u-black u2u-btn-cta-single"
    aria-label="{{ ariaLabel }}">
    {{- section.settings.cta | escape -}}
  </a>
</div>

{% schema %}
{
  "name": {
    "en": "Single CTA"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "cta",
      "label": {
        "de": "CTA",
        "en": "CTA"
      }
    },
    {
      "type": "url",
      "id": "link",
      "label": {
        "de": "Link",
        "en": "Link"
      }
    }
  ]
}
{% endschema %}
