{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/trendiamo-platform.myshopify.com/collections/edit-field/32992
{% endcomment %}
{% if collection.metafields.custom_fields["about_video_url"] != blank %}
  <div class="custom-field custom-field__about-video-url custom-field__type--text">
    <h3 class="custom-field--title">About Video ID</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["about_video_url"] }}
    </div>
  </div>
{% endif %}