.btn {
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 6px;
  transition: 200ms;
}
.btn-white {
  background: white;
  color: #32333d;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 1.3px;
  text-align: center;
  &:hover {
    background: #eee;
  }
}
