{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/trendiamo-test.myshopify.com/collections/edit-field/40814
{% endcomment %}
{% if collection.metafields.custom_fields["instagram_handle"] != blank %}
  <div class="custom-field custom-field__instagram-handle custom-field__type--text">
    <h3 class="custom-field--title">Instagram Handle</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["instagram_handle"] }}
    </div>
  </div>
{% endif %}