{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/trendiamo-test.myshopify.com/collections/edit-field/41248
{% endcomment %}
{% if collection.metafields.custom_fields["collection_list_cta"] != blank %}
  <div class="custom-field custom-field__collection-list-cta custom-field__type--text">
    <h3 class="custom-field--title">Collection List CTA</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["collection_list_cta"] }}
    </div>
  </div>
{% endif %}