{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/trendiamo-test.myshopify.com/collections/edit-field/40825
{% endcomment %}
{% if collection.metafields.custom_fields["youtube_video_id"] != blank %}
  <div class="custom-field custom-field__youtube-video-id custom-field__type--text">
    <h3 class="custom-field--title">YouTube Video ID</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["youtube_video_id"] }}
    </div>
  </div>
{% endif %}