<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

<main class="section-home" role="main">
  <div class="logo-container">
    <%= image_tag "frekkls-logo-small.svg", class: "logo" %>
  </div>
  <h2>You're all set! 🚀</h2>
  <p>
    We successfully placed the Frekkls code snippet in the code of your Shopify store.<br>
    Be aware that any modules set to active previously are showing on your site as of this moment.<br>
    If you wish to disable the tool temporarily you can do so under the 'Account' section of your admin panel.
  </p>
  <p>
    If something is wrong, get in touch with our support
    <a href="mailto:support@frekkls.com" rel="noreferrer noopener">here</a>.
  </p>
  <p>
    You can now safely close this tab.
  </p>
</main>
