<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

<main class="section-home" role="main">
  <div class="logo-container">
    <%= image_tag "uptous-logo-small.svg", class: "logo" %>
  </div>
  <h2>You're all set! 🚀</h2>
  <p>
    We successfully placed the uptous code snippet inside your Shopify store.
  </p>
  <p>
    If something is wrong, get in touch with our support
    <a href="mailto:hello@uptous.co" rel="noreferrer noopener">here</a>.
  </p>
  <p>
    You can now safely close this tab.
  </p>
</main>
