{% section 'hero' %}

<div class="u2u-aboutus-content-wrapper page-width">
  <div class="u2u-headline">{{ page.title }}</div>
  <div class="u2u-sub-headline">Find out how collective ordering will change the fashion industry for the better, forever.</div>
  <div class="u2u-about-content">{{ page.content }}</div>
</div>

{% section 'team' %}
{% section 'values' %}
{% section 'newsletter' %}
{% section 'content-showcase' %}
{% section 'maestrooo-instagram' %}

