{
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": ["prettier"],
  "extends": [
    "eslint:recommended",
    "prettier",
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    },
  },
  "globals": {
    "Promise": true,
    "process": true,
    "module": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "singleQuote": true,
        "semi": false,
        "trailingComma": "es5",
        "bracketSpacing": true,
      }
    ],
    "no-console": 0,
    "quotes": ["error", "single", { "avoidEscape": true }],
    "object-shorthand": ["error", "always"],
    "max-lines": 2,
    "sort-keys": 0,
    "sort-vars": ["error", { "ignoreCase": false }]
  }
}
