<p>Hello <%= @user.email %>!</p>

<p>
  Your uploaded file will now be reviewed by our Trendiamo team!
</p>

<p>
  This may take 1-2 days.
</p>

<p>
  You will recieve an email when your products are live!
</p>
