{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% section 'collection-template' %}
<div class="consumer-id" data-consumer-id="{{ customer.id }}"></div>
<script src="{{ 'feed.js' | asset_url }}"></script>
