<div class="page-width">
  <span class="callout">Find an influencer store!</span>
  <form id="username-form">
    <input id="InfluencerUsername" type="text" placeholder="Enter username" required />
    <button>Go</button>
  </form>
</div>
