.pdp-main {
  background-color: #92a2af;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.breadcrumbs {
  height: 30px;
  display: flex;
  align-items: center;
  color: #5a6f80;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
  justify-content: space-around;
}

.description {
  text-transform: none;
}

.breadcrumb-link {
  text-decoration: none;
  color: #5a6f80;
}

.breadcrumb-name {
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.breadcrumbs-container-beige {
  background-color: #ffffff;
}

.breadcrumbs-container-light-beige {
  background-color: #f1f3ef;
}

@media (min-width: 400px) {
  .breadcrumbs {
    font-size: 14px;
    width: 400px;
    margin-left: 50px;
    margin-top: 10px;
  }
}

.arrow-icon {
  margin: 0px 5px 0px 5px;
}

.banner {
  height: 98px;
  display: flex;
}

.banner-link {
  text-decoration: none;
  color: #000000;
}

.banner-left {
  flex: 1;
  font-size: 18px;
  padding-left: 3%;
  font-weight: bold;
  letter-spacing: 2.2px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.header-big-screen {
  display: none;
}

.header-small-screen {
  display: flex;
}

.footer {
  background-color: #ffffff;
  color: #000000;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  font-size: 15px;
}

.footer h2 {
  font-size: 20px;
}

.footer-main {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.footer-section-big {
  margin: 10px;
}

.footer-section-small {
  margin: 10px;
}

.social-media-div {
  display: flex;
  align-items: center;
  height: 35px;
}

.social-media-div p {
  padding-left: 10px;
}

.social-media-div img {
  height: 20px;
}

.footer-disclaimer {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

@media (min-width: 538px) {
  .footer-main {
    text-align: left;
  }
}

.pdp-image {
  position: absolute;
  right: 30px;
  height: 23px;
  width: 23px;
}

.menu-icon {
  max-height: 25%;
}

.pdp-big-screen {
  display: none;
}

.pdp-small-screen {
  display: block;
}

.main-left-half {
  flex: 1;
  background-color: #f2f3f0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-right-half {
  flex: 1;
  background-color: #fffdfb;
  display: flex;
}

.product-details {
  background-color: #f4f5f7;
  width: 100%;
}

.product-info {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  align-items: flex-end;
  margin-right: 20px;
  padding-bottom: 20px;
}

.product-info p {
  text-align: right;
  margin: 0;
}

.price {
  color: #ff7d31;
  height: 30px;
  padding-bottom: 10px;
  opacity: 0.76;
  font-size: 32px;
  font-weight: bold;
}

.name {
  opacity: 0.64;
  font-size: 30px;
  font-weight: 600;
  color: #000000;
}

.product-icons {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
}

.description {
  color: #4a4a4a;
  text-align: right;
  font-weight: 500;
}

.buy-button {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  height: 52px;
  border-radius: 6px;
  background-color: #ff7d31;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.buy-button-link {
  text-decoration: none;
  width: 80%;
}

@media (min-width: 330px) {
  .description {
    align-self: center;
    text-align: right;
  }
  .buy-button-link {
    width: 288px;
  }
}

@media (min-width: 980px) {
  .pdp-main {
    flex-direction: row;
  }
  .breadcrumbs-container-beige {
    width: 50%;
  }
  .breadcrumbs-container-light-beige {
    width: 50%;
  }
  .breadcrumbs {
    font-size: 16px;
  }
  .banner {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .banner-link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
  }
  .banner-link p {
    padding: 0px 20px 0px 20px;
  }
  .banner-catrgories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    flex: 2;
    font-size: 18px;
  }
  .banner-categories-text {
    padding: 20px;
    font-weight: normal;
  }
  .banner-hyperlink {
    text-decoration: none;
    color: #000000;
    font-weight: normal;
    margin: 0px 10px;
  }
  .banner-hyperlink:hover {
    cursor: pointer;
  }
  .nav-selected {
    font-weight: bold;
    border-bottom: solid 3px white;
  }
  .banner-categories-text:hover {
    cursor: default;
    user-select: none;
  }
  .banner-icons-div {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header-icon {
    padding: 0px 10px 0px 10px;
    height: 30px;
  }
  .banner-icons {
    font-size: 50px;
    color: #b9c2ca;
  }
  .pdp-big-screen {
    display: flex;
  }
  .pdp-small-screen {
    display: none;
  }
  .header-big-screen {
    display: flex;
  }
  .header-small-screen {
    display: none;
  }
  .product-details {
    text-align: left;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 10%;
    width: 90%;
    background-blend-mode: multiply;
    flex-direction: column;
    justify-content: space-around;
  }
  .price {
    width: 82px;
    font-size: 30px;
  }
  .name {
    font-size: 30px;
  }
  .description {
    width: 288px;
    text-align: left;
  }
  .product-info {
    padding-left: 0px;
    margin-left: 10%;
    width: 400px;
    display: block;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .product-info p {
    text-align: left;
  }
  .buy-button {
    width: 288px;
  }
  .buy-button-link {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.shopping-icon {
  margin-right: 5px;
}

.miniature-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10%;
  margin-bottom: 5%;
}

.white-pdp-image-div {
  background-color: #ffffff;
}

.white-pdp-main {
  background-color: #ffffff;
}

.beige-pdp-main {
  background-color: #ffffff;
}

.grey-background {
  flex: 1;
  height: 90vh;
  background-color: #f0f0f2;
  font-size: 25px;
  text-align: center;
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grey-background p {
  margin: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.checkmark {
  padding-bottom: 4%;
}

.main-text {
  font-weight: bold;
}
