.surfboard-card {
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  flex-direction: column;
  border: 1px solid black;
}

.surfboard-image {
  object-fit: contain;
  max-width: 100%;
  max-height: 75%;
  padding-bottom: 10px;
  margin-top: 10px;
}

.surfboard-card-details {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.surfboard-card-name {
  font-weight: normal;
  font-size: 14px;
  max-width: 50%;
  padding-left: 20px;
  text-align: left;
}

.surfboard-card-price {
  font-weight: normal;
  font-size: 24px;
}

.pdp-surfboards {
  max-width: 100%;
}

.surfboard-banner {
  background-color: black;
}

.surfboard-breadcrumbs {
  width: auto !important;
  margin-left: 0px !important;
}

@media (min-width: 600px) {
  .surfboard-breadcrumbs {
    margin-left: 50px !important;
    width: 400px !important;
  }
}

.surfboard-footer {
  background-color: black;
}

.surfboard-home-main {
  background-color: white;
}

.surfboard-main-info-section {
  color: black;
}

.surfboard-main-info-textbox {
  background-color: #ff4842;
}

.gibson-header-main-text p {
  margin-left: 0px;
}

.gibson-surfboards {
  margin-bottom: 0px;
}

.discount {
  margin-top: 15px;
}

.surfboard-main-info-button {
  border-color: #ff4842;
  color: #ff4842;
}

.surfboard-banner-photo {
  position: absolute;
  top: 300px;
  right: 200px;
}

.surfboard-products-container {
  background-color: #19293e;
}

.surfboard-image-big-screen {
  display: none;
}

.surfboard-image-small-screen {
  display: flex;
}

.surfboard-main-info-section {
  position: absolute;
  top: 130px;
}

.surfboard-banner-photo {
  position: absolute;
  top: 720px;
  left: -120px;
}

@media (min-width: 430px) {
  .surfboard-header-main-text p {
    width: 400px;
    margin-left: 30px;
  }
  .discount {
    margin-top: 0px;
  }
  .surfboard-banner-photo {
    top: 650px;
  }
}

@media (min-width: 795px) {
  .surfboard-banner-photo {
    position: absolute;
    top: 600px;
    left: -120px;
  }
}

@media (min-width: 795px) {
  .surfboard-image-small-screen {
    display: none;
  }
  .surfboard-image-big-screen {
    display: block;
  }
  .surfboard-main-info-section {
    position: static;
  }
}
