html {
  color: #393939;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-size: 12px;
  letter-spacing: 1.1;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
