.section-home {
  min-height: calc(100vh - 125px);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .logo-container {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .logo {
    width: 70px;
  }

  h2 {
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 0.3px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 35px;
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.45;
    letter-spacing: 0.3px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
  }

  a {
    color: #ff5642;
  }
}
