{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.collections.video_placeholder_image' %}
  {% include 'custom_fields.collections.video_url' %}
  {% include 'custom_fields.collections.type' %}
</div>