{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/trendiamo-test.myshopify.com/collections/edit-field/33159
{% endcomment %}
{% if collection.metafields.custom_fields["legal_business_name"] != blank %}
  <div class="custom-field custom-field__legal-business-name custom-field__type--text">
    <h3 class="custom-field--title">Legal Business Name</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["legal_business_name"] }}
    </div>
  </div>
{% endif %}