{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/trendiamo-platform.myshopify.com/collections/edit-field/38656
{% endcomment %}
{% if collection.metafields.custom_fields["size_guide"] != blank %}
  <div class="custom-field custom-field__size-guide custom-field__type--image">
    <h3 class="custom-field--title">Size Guide</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["size_guide"] }}
    </div>
  </div>
{% endif %}