{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/trendiamo-test.myshopify.com/products/edit-field/32911
{% endcomment %}
{% if product.metafields.custom_fields["about_title"] != blank %}
  <div class="custom-field custom-field__about-title custom-field__type--text">
    <h3 class="custom-field--title">About Title</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["about_title"] }}
    </div>
  </div>
{% endif %}