{% assign easylockdownON = false %}
{% assign easylockdownHiddenPurchase = false %}
{% assign easylockdownRedirectURL = '' %}
{% assign easylockdownPage404Title = '' %}
{% assign easylockdownPage404Message = '' %}
{% assign easylockdownActiveID = 0 %}
{% assign easylockdownActiveHash = '' %}
{% assign easylockdownPasswordForm = false %}
{% assign easylockdownPasswordNote = '' %}
{% assign easylockdownPasswordPlaceholder = '' %}
{% assign easylockdownHidePrice = false %}
{% assign easylockdownSuperPage = false %}
{% if template == blank or template == 'customers/login' or template == 'customers/activate_account' or template == 'customers/reset_password' %}{% assign easylockdownSuperPage = true %}{% endif %}

{% assign easylockdownNow = 'now' | date:'%s' %}
{% assign easylockdownPlacedOrder = customer.orders.first.created_at | date:'%s' %}
{% assign easylockdownOldestPlacedOrder = customer.orders.last.created_at | date:'%s' %}
{% assign easylockdownDateDifference = easylockdownNow | minus: easylockdownPlacedOrder %}

<script type='text/javascript'>var easylockdownLocationDisabled = true;</script>
<script type='text/javascript' src='//{{ shop.domain }}/apps/easylockdown/easylockdown-1.0.4.min.js' data-no-instant></script>
<script type='text/javascript'>if( typeof InstantClick == 'object' ) easylockdown.clearData();</script>
<style type="text/css">#easylockdown-password-form{padding:30px 0;text-align:center}#easylockdown-wrapper,.easylockdown-form-holder{display:inline-block}#easylockdown-password-error{display:none;color:#fb8077;text-align:left}#easylockdown-password-error.easylockdown-error{border:1px solid #fb8077}#easylockdown-password-form-button{display:inline-block!important;height:auto!important;padding:8px 15px!important;background:#777;border-radius:3px!important;color:#fff!important;text-decoration:none!important;vertical-align:top}.easylockdown-instantclick-fix,.easylockdown-item-selector{position:absolute;z-index:-999;display:none;height:0;width:0;font-size:0;line-height:0}.easylockdown-item-selector + *,.easylockdown-item[data-eld-loc-can],.easylockdown-collection-item[data-eld-loc-can] {display: none;}</style>

{% if easylockdownInstantClick %}<div class='easylockdown-instantclick-fix' style='display:none;'></div>{% endif %}

{% unless easylockdownON or easylockdownSuperPage or template == 'customers/register' %}
{% assign easylockdownLockedContent = false %}
{% assign easylockdownHiddenContent = false %}
{% if template == "index" %}{% assign easylockdownLockedContent = true %}{% endif %}
{% if easylockdownLockedContent %}
{% if customer %}
{% assign easylockdownON = true %}
{% capture easylockdownPage404Title %}Page not found{% endcapture %}
{% capture easylockdownPage404Message %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% capture easylockdownRedirectURL %}/collections{% endcapture %}
{% endif %}
{% endif %}
{% endunless %}

{% unless easylockdownON or easylockdownSuperPage or template == 'customers/register' %}
{% assign easylockdownException = false %}
{% if template == "index" %}{% assign easylockdownException = true %}{% endif %}
{% if template contains "page" and page %}{% if page.id == 48672407627 or page.id == 48681648203 or page.id == 48697802827 or page.id == 48697671755 or page.id == 48697770059 or page.id == 48726278219 %}{% assign easylockdownException = true %}{% endif %}{% endif %}
{% unless easylockdownException %}
{% assign easylockdownLockedContent = false %}
{% assign easylockdownHiddenContent = false %}
{% assign easylockdownLockedContent = true %}
{% if easylockdownLockedContent %}
{% unless customer %}
{% assign easylockdownON = true %}
{% capture easylockdownPage404Title %}Page not found{% endcapture %}
{% capture easylockdownPage404Message %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% capture easylockdownRedirectURL %}login{% endcapture %}
{% endunless %}
{% endif %}
{% endunless %}
{% endunless %}

{% if easylockdownON or easylockdownPasswordProtectedContent %}<meta name="robots" content="noindex,nofollow">{% endif %}

<script type='text/javascript'>
  var shopLocale = "{{ shop.locale }}" !== 'en' ? "/{{ shop.locale }}" : '';

  var customRouter = function(e){
    e && !easylockdown.previewMode ? ("login" == e && (e = "/account/login?checkout_url=" + window.location.href),
      window.location.href = shopLocale + e) : easylockdown.onReady(function(t) {
          easylockdown.jq("#easylockdown404").removeAttr("style"),
          easylockdown.previewMode && e && easylockdown.jq("#easylockdown404 .easylockdown-title-404").html("Redirecting to " + e),
          easylockdown.jq(".easylockdown-content").remove()
      })
  }

  var customRouterByLocation = function() {
      function e() {
          var e = !1
            , t = ""
            , n = ""
            , o = "";
          easylockdown.routeListByLocation.can.length ? easylockdown.jq.each(easylockdown.routeListByLocation.can, function(r, i) {
              if (easylockdown.currentISO == i.loc)
                  return e = !0,
                  !1;
              t || (t = i.url),
              n = i.title404,
              o = i.message404
          }) : easylockdown.routeListByLocation.cannot.length && (e = !0,
          easylockdown.jq.each(easylockdown.routeListByLocation.cannot, function(r, i) {
              if (easylockdown.currentISO == i.loc)
                  return e = !1,
                  t = i.url,
                  n = i.title404,
                  o = i.message404,
                  !1
          })),
          e || (easylockdown.jslocked = !0,
          t && !easylockdown.previewMode ? ("login" == t && (t = "/account/login?checkout_url=" + window.location.href),
          window.location.href = shopLocale + t) : easylockdown.onReady(function() {
              easylockdown.previewMode && t && (n = "Redirecting to " + t),
              easylockdown.jq(".easylockdown-content").remove();
              var e = easylockdown.jq("#easylockdown404");
              e.find(".easylockdown-title-404").html(n),
              e.find(".easylockdown-message-404").html(o),
              e.removeAttr("style"),
              easylockdown.jq("#easylockdown-hpbtn-style").remove(),
              easylockdown.jq("#easylockdown-password-form").remove()
          }))
      }
      (easylockdown.routeListByLocation.can.length || easylockdown.routeListByLocation.cannot.length) && (easylockdown.currentISO ? e() : easylockdown.onGeoISOAllow(function(t) {
          e()
      }))
  }

  if( typeof easylockdown == 'object' ) {
    {% if easylockdownON %}customRouter('{{ easylockdownRedirectURL }}'); {% else %}customRouterByLocation(); {% endif %}

    easylockdown.onReady(function(e){
      easylockdown.hideAllLinks();
    });
  }
</script>
