{% assign easylockdownON = false %}
{% assign easylockdownHiddenPurchase = false %}
{% assign easylockdownRedirectURL = '' %}
{% assign easylockdownPage404Title = '' %}
{% assign easylockdownPage404Message = '' %}
{% assign easylockdownActiveID = 0 %}
{% assign easylockdownActiveHash = '' %}
{% assign easylockdownPasswordForm = false %}
{% assign easylockdownPasswordNote = '' %}
{% assign easylockdownPasswordPlaceholder = '' %}
{% assign easylockdownHidePrice = false %}
{% assign easylockdownSuperPage = false %}
{% if template == blank or template == 'customers/login' or template == 'customers/activate_account' or template == 'customers/reset_password' %}{% assign easylockdownSuperPage = true %}{% endif %}

{% assign easylockdownNow = 'now' | date:'%s' %}
{% assign easylockdownPlacedOrder = customer.orders.first.created_at | date:'%s' %}
{% assign easylockdownOldestPlacedOrder = customer.orders.last.created_at | date:'%s' %}
{% assign easylockdownDateDifference = easylockdownNow | minus: easylockdownPlacedOrder %}

<script type='text/javascript'>var easylockdownLocationDisabled = true;</script>
<script type='text/javascript' src='//{{ shop.domain }}/apps/easylockdown/easylockdown-1.0.4.min.js' data-no-instant></script>
<script type='text/javascript'>if( typeof InstantClick == 'object' ) easylockdown.clearData();</script>
<style type="text/css">#easylockdown-password-form{padding:30px 0;text-align:center}#easylockdown-wrapper,.easylockdown-form-holder{display:inline-block}#easylockdown-password-error{display:none;color:#fb8077;text-align:left}#easylockdown-password-error.easylockdown-error{border:1px solid #fb8077}#easylockdown-password-form-button{display:inline-block!important;height:auto!important;padding:8px 15px!important;background:#777;border-radius:3px!important;color:#fff!important;text-decoration:none!important;vertical-align:top}.easylockdown-instantclick-fix,.easylockdown-item-selector{position:absolute;z-index:-999;display:none;height:0;width:0;font-size:0;line-height:0}.easylockdown-item-selector + *,.easylockdown-item[data-eld-loc-can],.easylockdown-collection-item[data-eld-loc-can] {display: none;}</style>

{% if easylockdownInstantClick %}<div class='easylockdown-instantclick-fix' style='display:none;'></div>{% endif %}

{% unless easylockdownON or easylockdownSuperPage or template == 'customers/register' %}
{% assign easylockdownLockedContent = false %}
{% assign easylockdownHiddenContent = false %}
{% if template == "index" %}{% assign easylockdownLockedContent = true %}{% endif %}
{% if easylockdownLockedContent %}
{% if customer %}
{% assign easylockdownON = true %}
{% capture easylockdownPage404Title %}Page not found{% endcapture %}
{% capture easylockdownPage404Message %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% capture easylockdownRedirectURL %}/collections{% endcapture %}
{% endif %}
{% endif %}
{% endunless %}

{% unless easylockdownON or easylockdownSuperPage or template == 'customers/register' %}
{% assign easylockdownException = false %}
{% if template == "index" %}{% assign easylockdownException = true %}{% endif %}
{% if template contains "page" and page %}{% if page.id == 48672407627 or page.id == 48681648203 or page.id == 48697802827 or page.id == 48697671755 or page.id == 48697770059 or page.id == 48726278219 %}{% assign easylockdownException = true %}{% endif %}{% endif %}
{% unless easylockdownException %}
{% assign easylockdownLockedContent = false %}
{% assign easylockdownHiddenContent = false %}
{% assign easylockdownLockedContent = true %}
{% if easylockdownLockedContent %}
{% unless customer %}
{% assign easylockdownON = true %}
{% capture easylockdownPage404Title %}Page not found{% endcapture %}
{% capture easylockdownPage404Message %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% capture easylockdownRedirectURL %}login{% endcapture %}
{% endunless %}
{% endif %}
{% endunless %}
{% endunless %}

{% if easylockdownON or easylockdownPasswordProtectedContent %}<meta name="robots" content="noindex,nofollow">{% endif %}

<script type='text/javascript'>
  if( typeof easylockdown == 'object' ) {
    {% if easylockdownON %}easylockdown.router('{{ easylockdownRedirectURL }}'); {% else %}easylockdown.routerByLocation(); {% endif %}

    easylockdown.onReady(function(e){
      easylockdown.hideAllLinks();
    });
  }
</script>