{% for option in product.options %}
  {% if option == 'Color' %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
  {% endif %}
{% endfor %}

{% if found_option %}
  <div class="swatch">
    {% assign values = '' %}
    {% for variant in product.variants %}
      {% assign value = variant.options[option_index] %}
      {% unless values contains value %}
        {% assign values = values | join: ',' %}
        {% assign values = values | append: ',' | append: value %}
        {% assign values = values | split: ',' %}

        {% assign color = settings.color_table[value] %}
        {% if color == blank %}{% continue %}{% endif %}
        <div class="swatch-element" style="background-color: {{ color }};"></div>
      {% endunless %}
    {% endfor %}
  </div>
{% endif %}
