<extends src="layout.html">
  <block name="content">
    <header>
      <div class="container">
        <a id="header-logo" href="/">
          <noscript><img alt="" class="img--logo lazyload" src="img/logo.png" data-srcset="img/logo@2x.png 2x" /></noscript>
          <img alt="" class="img--logo lazyload" data-sizes="auto" data-src="img/logo.png" data-srcset="img/logo@2x.png 2x" />
        </a>
        <nav>
          <div><a class="header-contact-us" href="demo.html">Demo</a></div>
          <div><a class="header-contact-us" href="about.html">About Us</a></div>
          <div><a class="header-contact-us" href="press.html">Press</a></div>
          <div><a class="header-contact-us" href="mailto:hello@trendiamo.com">Contact Us</a></div>
          <div><button class="button--outline js-request-demo" type="button">Try it now 👉</button></div>
        </nav>
      </div>
    </header>
    <section id="demo-hero">
      <div class="container">
        <h3>Pick an entry point to the demo!</h3>
        <div class="description">
          <p>Choose a scenario and experience how our tool can be used to drive customers to the right place in your shop.</p>
          <div class="feature-cards">
            <div class="feature-card">
              <img class="feature-card-image" src="/img/demo/iPhone.png" />
              <h1><font style="color: #ff5f41">Build a bridge</font> between influencers and your store!</h1>
              <p>Let influencers act as sellers on your site to create seamless transitions between their social media postings and your store.</p>
              <a href="https://demo.frekkls.com/wetsuits_filtered_intermediate.html#trnd:open:1,path:/showcase/21/spotlight/43" target="_blank"><div class="button">Enter with Bio Link 📲</div></a>
            </div>
            <div class="feature-card">
              <img class="feature-card-image" src="/img/demo/ads.png" />
              <h1><font style="color: #ff5f41">Adapt</font> the content of the plugin <font style="color: #ff5f41">based on ads</font>!</h1>
              <p>Match your ad campaigns with the right content on your site! Adjust the user experience on your site based on ad metrics.</p>
              <a href="https://demo.frekkls.com/surfboards_filtered_beginner.html#trnd:open:1,path:/showcase/15/spotlight/37" target="_blank"><div class="button">Enter with Ad Link 🏄‍</div></a>
            </div>
            <div class="feature-card">
              <img class="feature-card-image" src="/img/demo/iPhone_2.png" />
              <h1>Welcome organic visitors and <font style="color: #ff5f41">show them around</font>!</h1>
              <p>Help customers find the right products by assessing their needs and tastes when welcoming them to your shop.</p>
              <a href="https://demo.frekkls.com" target="_blank"><div class="button">Enter organically 🤗</div></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="topcta" class="section section--top-cta demo-cta">
      <div class="container">
        <div class="small-container">
          <h3>Be one of the first to try our new tool! 🚀</h3>
          <p>We are building the future of e-commerce with our beta-testers. Join us to be one of the first to bring customer engagement to a new level.</p>
          <!-- <div class="email-input">
            <input type="email" name="email" placeholder="E-mail" />
            <button type="button">Go&nbsp;&nbsp;&nbsp;👉</button>
          </div> -->
          <div class="email-input email-input-1"></div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <h3>Information</h3>
        <div class="footer-flex">
          <div>
            <a href="demo.html">Demo</a>
            <a href="about.html">About Us</a>
            <a href="press.html">Press</a>
            <a href="mailto:hello@trendiamo.com">Contact Us</a>
            <a href="#demo" class="js-request-demo">Get a Demo</a>
            <a href="#legal-notice" class="js-legal-notice">Legal Notice</a>
            <a href="#privacy-cookies" class="js-privacy-cookies">Privacy & Cookies</a>
          </div>
          <p>© 2018 Frekkls - by Trendiamo</p>
        </div>
      </div>
    </footer>
  </block>
</extends>
