html {
  color: #272a32;
  font-family: Lato, sans-serif;
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans', sans-serif;
}

p {
  margin-bottom: 1rem;
  line-height: 1.225;
}

b,
strong {
  font-weight: bold;
}

button {
  font-family: 'Nunito Sans', sans-serif;
}

*[hidden] {
  display: none;
}

.contentful-content h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.2;
}
