@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Light.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Heavy.otf');
  font-weight: 700;
}

html {
  color: #272a32;
  font-family: 'Avenir', sans-serif;
  font-size: 24px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Avenir', sans-serif;
  font-weight: 700;
}

p {
  margin-bottom: 1rem;
  line-height: 1.225;
}

b,
strong {
  font-weight: bold;
}

button {
  font-family: 'Avenir', sans-serif;
}

*[hidden] {
  display: none;
}

.contentful-content h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.2;
}
