html {
  color: #000;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

p {
  margin-bottom: 1rem;
  line-height: 1.4;
}

b,
strong {
  font-weight: bold;
}

button {
  font-family: Montserrat, sans-serif;
}

*[hidden] {
  display: none;
}
