.hs-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hs-form div {
  width: 100%;
}

.hs-form .hs-submit {
  max-width: 250px;
}

.hs-form-required {
  display: none;
}

.hs-form label:not(.hs-form-checkbox-display) {
  display: none;
}

.hs-form .hs-fieldtype-checkbox label {
  display: block;
  margin-bottom: 1rem;
}

.hs-form .hs-dependent-field label {
  display: block;
  margin-bottom: 0.4rem;
}

.hs-form .hs-input:not(select) {
  font-family: 'Avenir', sans-serif;
  font-size: 0.9rem;
  color: #fff;
}

.hs-form select.hs-input {
  background-color: #353949;
  margin-bottom: 1rem;
  font-size: 16px;
  border: 1px solid #353949;
  color: white;
  height: 51px;
  width: 100%;
}

.hs-form select.hs-input.error {
  border-color: #e03f3f;
}

.hs-form .hs-input[type='text'],
.hs-form .hs-input[type='email'],
.hs-form textarea {
  appearance: none;
  font-size: 16px;
  padding: 15px 20px 15px 20px !important;
  border: 1px solid #353949;
  background-color: #353949;
  width: 100%;
  margin: 0 0 1rem 0;
  color: white;
}

.hs-form .hs-input[type='text'].error,
.hs-form .hs-input[type='email'].error,
.hs-form textarea.error {
  border-color: #e03f3f;
}

.hs-form .hs-input::placeholder {
  color: white;
}

.hs-form .hs-button {
  appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  font-family: 'Avenir', sans-serif;
  cursor: pointer;
  font-weight: 900;
  outline: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
  height: 38px;
  color: white;
}

.input {
  color: white;
}
