.tingle-modal {
  background-color: rgba(39, 42, 50, 0.7);
}

.tingle-modal__close {
  background-color: rgb(39, 42, 50);
}

.tingle-modal__closeIcon,
.tingle-modal__closeLabel {
  vertical-align: top;
}

.tingle-modal__closeLabel {
  display: none !important;
}

.tingle-modal__closeIcon {
  font-size: 2.4rem;
  position: absolute;
  right: 10px;
  top: 4px;
}

.tingle-modal__closeLabel {
  text-transform: uppercase;
  font-weight: bold;
}

.tingle-modal-box {
  background: #272a32;
  text-align: left;
  color: #fff;
}

.tingle-modal-box a {
  color: #fff;
}

.tingle-modal-box__content {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 540px) {
  .tingle-modal {
    background-color: rgb(39, 42, 50);
    padding-top: 86px;
  }
  .tingle-modal__close {
    height: 86px;
  }
  .tingle-modal-box__content {
    padding-top: 0;
    max-height: calc(100vh - 86px);
  }
}

@media (min-width: 541px) {
  .tingle-modal__closeIcon {
    width: 100%;
  }
  .tingle-modal-box__content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .tingle-modal__close {
    height: 86px;
    background-color: transparent !important;
  }
}

.tingle-modal-box__content b {
  font-weight: bold;
}
