.tingle-modal {
  background-color: rgba(26, 59, 80, 0.7);
}

.tingle-modal__close {
  font-family: Montserrat, sans-serif;
  background-color: rgb(26, 59, 80);
}

.tingle-modal__closeIcon,
.tingle-modal__closeLabel {
  vertical-align: top;
}

.tingle-modal__closeLabel {
  display: none !important;
}

.tingle-modal__closeIcon {
  font-size: 2.4rem;
  position: absolute;
  right: 10px;
  top: 4px;
}

.tingle-modal__closeLabel {
  text-transform: uppercase;
  font-weight: bold;
}

.tingle-modal-box {
  background: #142c3d;
  text-align: left;
  color: #fff;
}

.tingle-modal-box a {
  color: #fff;
}

.tingle-modal-box__content {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 540px) {
  .tingle-modal__closeIcon {
    width: 100%;
  }
  .tingle-modal-box__content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .tingle-modal__close {
    background-color: transparent !important;
  }
}

.tingle-modal-box__content b {
  font-weight: bold;
}
