{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/trendiamo-test.myshopify.com/collections/edit-field/32922
{% endcomment %}
{% if collection.metafields.custom_fields["about_text"] != blank %}
  <div class="custom-field custom-field__about-text custom-field__type--text">
    <h3 class="custom-field--title">About Text</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["about_text"] }}
    </div>
  </div>
{% endif %}