{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/trendiamo-test.myshopify.com/products/edit-field/32912
{% endcomment %}
{% if product.metafields.custom_fields["about_image_url"] != blank %}
  <div class="custom-field custom-field__about-image-url custom-field__type--url">
    <h3 class="custom-field--title">About Image URL</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["about_image_url"] }}
    </div>
  </div>
{% endif %}