<div class="section-spaceous">
  <div class="page-width no-padding-mobile">
    <h3 class="text-center" >{{ 'about_us.last_part' | t }}</h3>
    <div class="about-us-buttons-container">
      <a href="https://uptous.co/magazine/newsletter-signup">
        <button class="btn btn-big btn-black">{{ 'layout.buttons.i_want_to_become_a_member' | t }}</button>
      </a>
      <a href="/jobs">
        <button class="btn btn-big btn-black">{{ 'layout.buttons.i_want_to_join_the_team' | t }}</button>
      </a>
    </div>
  </div>
</div>
