<section class="section" data-section-id="{{ section.id }}" data-section-type="collection-template">
  <div class="container">
    <div class="video-collection-header">
      <h2 class="section__title-text">
        Hello World
      </h2>
    </div>
  </div>
</section>

{% schema %}
{
    "name": "Test Stuff",
    "settings": [
        {
            "type": "checkbox",
            "id": "test_check",
            "label": "Test",
            "default": false
        }
    ]
}
{% endschema %}